/* CSS declarations go here */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.deleteCard {
  position: absolute;
  right: 0px;
  top: 10px;
}

.deleteCard-sm {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right:5px;
}

.card-panel {
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
}

.row {
  margin-bottom: 5px;
}

.vertical-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 150px;
}

.clean {
  margin: 0;
  padding: 0;
}

i.x-small {
  font-size: 1.5rem;
}
a {
  cursor: pointer;
}

.action-available {
  cursor: pointer;
}
