/* CSS declarations go here */
.modal {
  max-height: 90%;
}

.card-panel {
  position: relative;
  padding: 10px 10px 0px 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

.row {
  margin-bottom: 5px;
}

i.x-small {
  font-size: 1.5rem;
}

.title {
  font-size: 1.2rem;
  color: #000;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.deleteCard {
  position: absolute;
  right: 0px;
  top: 5px;
}

.deleteCard-sm {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right:5px;
}

.footer {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.vertical-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 150px;
}

.clean {
  margin: 0;
  padding: 0;
}

.action-available {
  cursor: pointer;
}

.main {
  margin-top:5px;
}

.hidden {
  display: none;
}

a {
  cursor: pointer;
}
